<%- include('layout/header') %>

<div class="container">
  <div class="row">
    <div class="col-lg-6 mx-auto mt-5">
      <div class="card shadow">
        <div class="car-header bg-success p-2">
          <h3 class="text-light">Edit user (<%= user.name %>)</h3>
        </div>
        <div class="card-body p-4">
          <form
            action="/update/<%= user._id %>"
            method="post"
            id="add-form"
            enctype="multipart/form-data"
          >
            <div class="mb-3">
              <label for="name">Name</label>
              <input
                type="text"
                name="name"
                value="<%= user.name %>"
                class="form-control"
              />
            </div>

            <div class="mb-3">
              <label for="email">Email</label>
              <input
                type="email"
                name="email"
                value="<%= user.email %>"
                class="form-control form-control-lg"
                placeholder="Enter email"
                required
              />
            </div>

            <div class="mb-3">
              <label for="phone">Phone number</label>
              <input
                type="tel"
                name="phone"
                value="<%= user.phone %>"
                class="form-control form-control-lg"
                placeholder="Enter phone number"
                required
              />
            </div>

            <div class="mb-3">
                <label for="Designation">Designation</label>
                <select
                    name="designation"
                    class="form-control form-control-lg"
                    required
                >
                    <option value="" disabled>Select designation</option>
                    <option value="Manager" <%= user.designation === 'Manager' ? 'selected' : '' %>>Manager</option>
                    <option value="HR" <%= user.designation === 'HR' ? 'selected' : '' %>>HR</option>
                    <option value="Sales" <%= user.designation === 'Sales' ? 'selected' : '' %>>Sales</option>
                    <option value="Developer" <%= user.designation === 'Developer' ? 'selected' : '' %>>Developer</option>
                    <option value="Designer" <%= user.designation === 'Designer' ? 'selected' : '' %>>Designer</option>
                </select>
            </div>
            

            <div class="mb-3">
                <label for="gender">Gender</label><br />
                <div class="form-check form-check-inline">
                    <input
                        type="radio"
                        name="gender"
                        value="Male"
                        class="form-check-input"
                        id="genderMale"
                        <%= user.gender === 'Male' ? 'checked' : '' %>
                        required
                    />
                    <label class="form-check-label" for="genderMale">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                        type="radio"
                        name="gender"
                        value="Female"
                        class="form-check-input"
                        id="genderFemale"
                        <%= user.gender === 'Female' ? 'checked' : '' %>
                        required
                    />
                    <label class="form-check-label" for="genderFemale">Female</label>
                </div>
            </div>
            

            <div class="mb-3">
                <label for="course">Course</label>
                <select
                    name="course"
                    class="form-control form-control-lg"
                    required
                >
                    <option value="" disabled>Select</option>
                    <option value="Computer Science" <%= user.course === 'Computer Science' ? 'selected' : '' %>>Computer Science</option>
                    <option value="Information Technology" <%= user.course === 'Information Technology' ? 'selected' : '' %>>Information Technology</option>
                    <option value="Business Management" <%= user.course === 'Business Management' ? 'selected' : '' %>>Business Management</option>
                    <option value="Marketing" <%= user.course === 'Marketing' ? 'selected' : '' %>>Marketing</option>
                </select>
            </div>
            

            <div class="mb-3">
              <label for="image" class="form-label">File Upload</label>
              <input
                type="file"
                name="image"
                class="form-control form-control-lg"
                placeholder="File Upload"
                required
              />
              <img
                src="/<%= user.image %>"
                width="100"
                class="img-thumbnail mt-1"
              />
            </div>
            <input type="hidden" name="old_image" value="<%= user.image %>" />

            <div class="mb-3">
              <input
                type="submit"
                name="submit"
                value="Update User"
                class="btn btn-success btn-lg"
                required
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('layout/footer') %>
